* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
}

/* header section styles */

header {
  background-color: rgba(229, 84, 115, 0.1);
}

.hero {
  display: flex;
  gap: 70px;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 50px;
}

.hero-header {
  color: #272727;
  font-size: 50px;
  font-weight: 700;
  width: 508px;
}

.header-paragraph {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 350px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.hero-btn {
  width: 140px;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  border: 0;
}

.hero-left {
  margin-top: 130px;
}

.hero-image {
  width: 450px;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* featured section styles */

.featured-text h1 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 150px;
}

.featured-text p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* featured section flower gallery styles */

.flower-gallery {
  display: flex;
  gap: 24px;
  margin-bottom: 170px;
  justify-content: center;
}

.flower-gallery a {
  text-decoration: none;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

.flower-1 {
  width: 300px;
  height: 350px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.f1 a {
  display: flex;
  justify-content: center;
}

.flower-1 img {
  width: 230px;
  margin-top: 32.5px;
  margin-left: 25px;
}

.flower-2 {
  width: 300px;
  height: 350px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}

.f2 a {
  display: flex;
  justify-content: center;
}

.flower-2 img {
  width: 290px;
  margin-top: 44px;
  margin-left: 15px;
}

.flower-3 {
  width: 300px;
  height: 350px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.f3 a {
  display: flex;
  justify-content: center;
}

.flower-3 img {
  width: 233px;
  margin-left: 35px;
}

.featured-icon-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 100px 200px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}

.featured-icon-info p {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-weight: 600;
  line-height: 35px;
}

.sale {
  display: flex;
  gap: 100px;
  justify-content: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding-top: 80px;
  padding-bottom: 80px;
}

.sale-details > h1 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 150px;
}

.sale-off-span {
  color: #e55473;
}

.sale-details > p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 40px;

  display: flex;
  width: 594px;
  flex-direction: column;
  flex-shrink: 0;
}

.sale-details button {
  width: 140px;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  justify-content: center;
  align-items: center;
}

.sign-up-btn-div {
  margin: 0px 220px;
}

.insta-text h1 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 150px;
}

.insta-text p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  display: flex;
  justify-content: center;
  width: 594px;
  flex-direction: column;
  flex-shrink: 0;
  margin: 20px auto 40px auto;
}

.insta-image {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.insta-image img {
  width: 250px;
}

.added-section h1 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 150px;
  margin-bottom: 50px;
}

.added-section iframe {
  height: 80vh;
  width: 100vh;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 340px;
}

.get-latest-deals h1 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 150px;
  margin-bottom: 50px;
}

.get-latest-deals p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  display: flex;
  justify-content: center;
  width: 594px;
  flex-direction: column;
  flex-shrink: 0;
  margin: -30px auto 40px auto;
}

.input-email-field {
  color: rgba(39, 39, 39, 0.6);
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 400px;
}

.sub-btn {
  width: 140px;
  padding: 17px 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  border: 0;
}

.latest-deal-info {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 1px;
}

.input-email {
  display: flex;
  justify-content: center;
}

.get-latest-deals {
  background-image: url("assets/Rectangle\ 9.png");
  height: 440px;
  margin: 130px 100px 130px 100px;
}

footer {
  background-color: #111010;
  height: 250px;
  flex-shrink: 0;
}

footer div {
  justify-content: center;
}

footer h1 {
  color: #e55473;
  font-size: 48px;
  font-weight: 700;
  padding-top: 68px;
  padding-bottom: 10px;
}

footer h1 span {
  color: white;
}

footer p {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 10px;
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.flower-shop {
  display: flex;
  justify-content: center;
}

.sub-btn{
  margin-left: 8px;
}